MONGODB_URI=mongodb+srv://chimdindu73_db_user:lcV51ilN6h6pXPz7@cluster0.e8r6mao.mongodb.net/?appName=Cluster0
# MONGODB_URI="mongodb+srv://chimdindu73_db_user:lcV51ilN6h6pXPz7@cluster0.e8r6mao.mongodb.net/?playtoprogress=Cluster0"


JWT_SECRET=

# Example: https://play-to-progress.vercel.app,http://localhost:3000
FRONTEND_URL=http://localhost:3000

PORT=4000
